body {
    background-image: url('images/background_image.jpg');
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(14, 13, 13);
    overflow: hidden;
    height: fit-content;
}

.topnav img {
    padding-right: 2em;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    font-family: "monospace";
    text-align: center;
    text-decoration: none;
    font-size: 1em;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #002153;
    color: white;
}

a {
    color: inherit;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(14, 13, 13);
    color: rgb(78, 78, 78);
    text-align: center;
    font-family: arial;
    display: flex;
    justify-content: space-between;
}

.mininav {
    margin-left: 1vw;
}

.copyright {
    margin-right: 1vw;
}

.homecontent {
    color: rgb(255, 255, 255);
    font-family: 'Lucida Console', 'Courier New';
    margin-top: 0vw;
    margin-left: 8vw;
    justify-content: space-between;
}

.homecontent .hi {
    margin-top: 5em;
    font-size: 3em;
    padding-bottom: 1em;
}

.homecontent .subtext {
    font-size: 2em;
    display: inline-block;
    background-color: white;
    color: black;
}

.updates {
    color: rgb(255, 255, 255);
    position: fixed;
    top: 25%;
    right: 10%;
    font-family: 'Lucida Console', 'Courier New';
    justify-content: space-between;
    float: right;
    overflow-wrap: break-word;
    border-radius: 1em;
    background: #444444;
    opacity: 0.75;
    padding: 1em;
    max-width: 35em;
    border-width: 0.25em;
    border-color: white;
}

.contact {
    color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vw;
    font-family: 'Lucida Console', 'Courier New';
    justify-content: space-between;
    overflow-wrap: break-word;
    border-radius: 1em;
    background: #444444;
    opacity: 0.75;
    padding: 1em;
    max-width: 50em;
    margin: auto;
    border-color: white;
}

/* Media Queries for different screen sizes */

/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {




    .topnav a {
        float: none;
        display: block;
        text-align: left;
        padding: 10px;
        line-height: normal;
    }


    .homecontent {
        position: relative;
        top: -40vw;
        right: 0%;
        max-width: 85%;
        padding: 2%;
    }


    .topnav img {
        height: 0;
        width: 0;
    }

    .icon {
        height: auto;
        width: auto;
    }

    .footer {
        flex-direction: column;
        text-align: center;
    }
}

/* Large devices (desktops, 768px and up) */
@media only screen and (min-width: 768px) {
    .topnav a {
        display: block;
        padding: 0px 20px;
        line-height: 80px;
    }

    .topnav img {
        height: 80px;
        width: 80px;
        float: left;
    }

    .icon {
        height: 80px;
        width: 80px;
    }

    .footer {
        flex-direction: row;
        text-align: center;
    }
}